$menu-height: 50px;
$menu-option-width: 120px;

$content-height: calc(100vh - #{$menu-height});

$backgrounds: (
    'triangles': 'triangles.png',
    'blocks': 'blocks.png',
    'grass': 'grass.png',
    'triangles-full': 'triangles-full.png',
    'texture': 'texture.png',
    'squares': 'squares.png',
    'rombos': 'rombos.png',
    'net': 'net.png',
);

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
            transform: $transforms;
}

@mixin tincho-font($size: 20px, $weight: normal, $style: normal) {
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
}
