$menu-height: 50px;
$menu-option-width: 120px;

$content-height: calc(100vh - #{$menu-height});

$backgrounds: (
    'triangles': 'triangles.png',
    'blocks': 'blocks.png',
    'grass': 'grass.png',
    'triangles-full': 'triangles-full.png',
    'texture': 'texture.png',
    'squares': 'squares.png',
    'rombos': 'rombos.png',
);

@keyframes animatedBackground {
	0% {
        transform: scale(1.0);
    }
	50%, 60% {
        transform: scale(1.05);
    }
    60%, 100% {
        transform: scale(1.0);
    }
}
