@import 'colors';
@import 'fonts';
@import 'extras';

body {
    background: $bg-color;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
}

#menu {
    height: $menu-height;
    background: $menu-background-color;
    z-index: 10;

    #menuList {
        z-index: 10;
    }

    ul {
        padding: 0;
        margin: 0;
        display: inline-block;
        list-style: none;
        height: $menu-height;

        li {
            display: inline-block;
            width: $menu-option-width;
            text-align: center;
            list-style: none;
            padding: 0;
            margin: 0;
            color: $menu-option-text-color;
            vertical-align: top;
            transition: padding ease-in-out 0.2s,
                background linear 0.05s,
                color ease-in-out 0.3s;

            a {
                text-decoration: none;
                color: inherit;
                font-weight: bold;
                width: 100%;
                min-height: $menu-height;
                display: block;
                padding: ($menu-height / 4) 0 0;
                transition: padding ease-in-out 0.2s;
            }

            &.active {
                color: $white;

                a {
                    z-index: 50;
                    padding: ($menu-height / 2) 0 0;

                    span {
                      position: relative;
                      display: block;
                      margin-bottom: 5px;
                    }

                    &::after {
                        position: relative;
                        display: block;
                        top: 14.9px;
                        content: "";
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 15px 0 0 $menu-option-width;
                    }
                }

                @each $color-key, $color-value in $colors {
                    &.#{$color-key} {
                        border-color: $color-value;
                        background-color: $color-value;

                        a::after {
                            border-color: $color-value transparent transparent transparent;
                        }
                    }

                }

            }
        }
    }

}

#content {
    min-height: $content-height;
    z-index: 1;

    .section {
        position: relative;
        min-height: 100%;
        width: 100%;
        padding: 20px 5%;
        border-top: 5px solid $section-border-color;
        background-position: bottom;
        background-repeat: repeat-x;
        background-size: 100%;
        z-index: 1;

        .header-group {
            width: 100%;
            text-align: center;

            .title {
                font-size: $header-title-size;
                font-weight: bold;
            }

            .title-main {
                margin: 10vh auto;
                font-size: $header-title-main-size;
                color: $header-title-main-color;
            }
        }

        @each $color-key, $color-value in $colors {
            &.section-#{$color-key} {
                border-color: $color-value;
            }
        }
    }
}
