@import 'colors';
@import 'fonts';

body {
    background: $bg-color;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
}

.section {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 20px 5%;
    border-bottom: 1vh solid $section-border-color;
    background: transparent url('../../app/img/triangles.png') repeat-x bottom;
    z-index: 1;

    .header-group {
        width: 100%;
        text-align: center;

        .title {
            font-size: $header-title-size;
            font-weight: bold;
        }

        .title-main {
            margin: 10vh auto;
            font-size: $header-title-main-size;
            color: $header-title-main-color;
        }
    }

    @each $color-key, $color-value in $section-colors {
        &.section-#{$color-key} {
            background-color: $color-value;
            border-color: $color-value;
        }
    }
}

.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: repeat-x;
    background-position: 30% 30%;
}
